@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13px;
  border-right: 1px solid #c4c4c4;
  padding-right: 13px;
}

.border img {
  max-width: 35px;
  width: 100px;
}

@media screen and (max-width: 821px) {
  .border {
    display: none;
  }
}
