@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.copyright-paragrafo {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #ffffff;
  margin-left: 32px;
}

.anchor-vtex-desktop {
  display: flex;
  margin-left: 10px;
}

.wrapper-copyright-paragrafo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 414px) {
  .copyright-paragrafo {
    display: none;
  }
  .wrapper-copyright-paragrafo {
    display: none;
  }
  .divisor {
    border-right: 1px solid #fff;
    height: 28px;
    width: 3px;
    margin-right: 8px;
  }
  .cards-wrapper-mobile img {
    margin-right: 11px;
  }
  .wrapper-cards-footer {
    display: none !important;
  }
  .text-footer-mobile {
    display: block !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    text-transform: capitalize;

    color: #ffffff;
  }
  .anchor-vtex-mobile {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 820px) {
  .divisor {
    border-right: 1px solid #fff;
    height: 28px;
    width: 3px;
    margin-right: 8px;
  }
  .cards-wrapper-mobile img {
    margin-right: 8px;
  }
}

@media (max-width: 540px) {
  .wrapper-copyright-paragrafo {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 280px) {
  .cards-wrapper-mobile img {
    margin-right: 2px;
    max-width: 30px;
    width: 100%;
  }
}
