.scrolltop-button-container {
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 50%;
  background-color: #c4c4c4;
  cursor: pointer;
}

.scrolltop-button-container:hover {
  background-color: #b9b8b8;
}
