@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.page-header {
  background-color: #00c8ff;
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding-top: 16px;
}

.page-heade-container-input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header-container-input {
  display: flex;
  justify-content: center;
}

.input-content {
  display: flex;
  justify-content: end;
  max-width: 264px;
  width: 100%;
  height: 32px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}

.header-input {
  width: 100%;
  padding: 0 12px;
  outline: none;
  color: #000000;
  background: transparent;
  border: none;
}

.header-input:focus {
  box-shadow: none;
}

.header-input::placeholder {
  color: #cbc8c8;
}

.header-input-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  padding-right: 7px;
}

.header-container-usuario {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
  margin-right: 40px;
  width: 100%;
}

.header-loguin-loguin {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.header-menuhamburguer {
  border: none;
  background: transparent;
  outline: none;
  display: flex;
  z-index: 1;
  margin-right: 70px;
}

.header__close-icon {
  position: fixed;
  top: 18px;
}

.navigation__container-mobile {
  position: fixed;
  z-index: 6;
  background-color: #000000;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  overflow-y: auto;
}

.navigation__links-mobile {
  border-radius: 5px;
  background-color: #00c8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 15px;
}

.header-menuhamburguer {
  display: none;
}

.page-content-desk {
  display: flex;
  margin-top: 17px;
  width: 100%;
  margin-bottom: 18px;
}

.search-input-mobile {
  display: none;
}
.header-container-mobile {
  display: none;
}

.logo-header-desk {
  width: 100%;
  margin-left: 110px;
  display: flex;
}
@media (max-width: 414px) {
  .logo-header-desk {
    margin: 0;
  }
  .header-container-usuario {
    display: none;
  }
  .header-container-mobile {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    margin-right: 40px;
  }
  .page-content-desk {
    display: grid;
    margin-top: 17px;
    width: 100%;
    margin-bottom: 18px;
  }
  .container-input-mobile {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  .header-input {
    display: none;
  }
  .header-loguin-loguin {
    display: none;
  }

  .wrapper-copyright-paragrafo {
    display: none;
  }
  .header-input {
    display: none;
  }
  .input-content {
    display: none;
  }
  .search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .search-input-mobile {
    display: flex;
    justify-content: end;
    max-width: 343px;
    width: 100%;
    height: 32px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
  }
  .header-input-mobile {
    width: 100%;
    padding: 0 12px;
    outline: none;
    color: #000000;
    background: transparent;
    border: none;
  }
  .header-menuhamburguer {
    display: block;
    margin-left: 39px;
  }
  .page-heade-container-input {
    display: none;
  }
  .page-header-container {
    display: flex;
    align-items: center;
    padding-top: 32px;
  }
  .page-header-logo {
    display: flex;
  }
}

@media (max-width: 820px) {
  .page-heade-container-input {
    margin-left: 50px;
  }
}

@media (max-width: 540px) {
  .wrapper-copyright-paragrafo {
    display: none;
  }
  .copyright-paragrafo {
    margin-left: 0;
  }
  .page-content-desk {
    display: grid;
    width: 100%;
  }
  .page-header-logo {
    display: flex;
    margin: 29px 0 34px;
  }

  .header-logo {
    margin: 0 0px;
  }

  .header-menuhamburguer {
    display: block;
    margin-left: 39px;
  }

  .logo-header-desk {
    margin: 0;
  }

  .header-container-mobile {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    margin-right: 40px;
  }
  .header-loguin-loguin {
    display: none;
  }
  .page-heade-container-input {
    margin-left: 50px;
  }

  .input-content {
    display: none;
  }

  .header-container-usuario {
    display: none;
  }
  .search-input-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-input-mobile {
    width: 100%;
    padding: 0 12px;
    outline: none;
    color: #000000;
    background: transparent;
    border: none;
  }
  .search-input-mobile {
    display: flex;
    justify-content: end;
    max-width: 343px;
    width: 100%;
    height: 32px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
  }

  .search-input-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .header-menuhamburguer {
    display: block;
    margin-left: 18px;
  }
  .header-container-mobile {
    margin-right: 20px;
  }

  .header-menuhamburguer {
    display: block;
    margin-left: 20px;
  }
}

@media (max-width: 280px) {
  .header-menuhamburguer {
    margin-right: 26px;
  }

  .search-input-mobile {
    max-width: 200px;
  }
}
