@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.header-menu-container {
  display: flex;
  background: #00c8ff;
  border-top: 1px solid #03bffe;
  height: 45px;
}

.header-menu-button-cursos {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffff;
  text-transform: uppercase;
  text-decoration: none;
  height: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-menu-button-saibamais {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffff;
  text-transform: uppercase;
  text-decoration: none;
  height: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-menu-content {
  display: flex;
  column-gap: 126px;
}

.header-menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 110px;
}

@media (max-width: 414px) {
  .header-menu-nav {
    display: none;
  }
  .header-menu-container {
    display: none;
  }
}

@media (max-width: 820px) {
  .header-menu-content {
    display: flex;
    column-gap: 90px;
  }
}

@media (max-width: 540px) {
  .header-menu-container {
    display: none;
  }
}
