@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.contact-wrapper {
  position: absolute;
  top: -22px;
  left: 0;
  z-index: 0;
  padding-right: 14px;
  width: 100%;
}

.contact-icons {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.img-whatsapp {
  width: 34px;
  height: 34px;
  margin-bottom: 12px;
}

.btn-seta {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.align-end {
  justify-content: flex-end;
}

@media (max-width: 412px) {
  .contact-wrapper {
    top: -60px;
  }
}

@media (max-width: 540px) {
  .contact-wrapper {
    top: -60px;
  }
}
