@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.container-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e7e7;
}

.container-newsletter form {
  margin: 17px 0;
}

.newsletter-title {
  display: flex;
  color: #303030;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  margin-bottom: 5px;
}

.newsletter-input-container {
  display: flex;
}

.container-input input {
  width: 342px;
  height: 42px;
  border-radius: 4px;
  padding: 0 16px;
  outline: 0;
  border: 1px solid #e5e5e5;
}

.container-input input:focus {
  border-color: #00c8ff;
}

.container-input::placeholder {
  color: #c4c4c4;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

.container-input input.invalid {
  border: 1px solid #c70039;
}

.newsletter-invalid-feedback {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #c70039;
  position: absolute;
}

.newsletter-input-button {
  width: 126px;
  height: 42px;
  background-color: #00c8ff;
  border: 1px solid #00c8ff;
  border-radius: 4px;

  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: linear 250ms;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.newsletter-input-button:hover {
  background-color: #65aabe;
}

@media (max-width: 820px) {
  .newsletter-input-button {
    margin-left: 10px;
  }
}

@media (max-width: 414px) {
  .newsletter-input-container {
    display: grid;
    justify-content: center;
  }
  .newsletter-title {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    margin-right: 120px;
  }
  .container-newsletter {
    border: none;
    border-top: 1px solid#C4C4C4;
    display: block;
  }
  .newsletter-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.05em;
    font-variant: small-caps;

    color: #303030;
  }
  .container-input {
    display: flex;
    justify-content: center;
  }
  .container-input input {
    display: flex;
    width: 326px;
    border-radius: unset;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #c4c4c4;
  }
  .newsletter-input-button {
    display: flex;
    align-items: center;
    width: 326px;
    border-radius: unset;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 16px 0px;
    box-shadow: none;
  }
}

@media (max-width: 280px) {
  .container-input input {
    width: 250px;
  }
  .newsletter-input-button {
    width: 250px;
  }

  .newsletter-title {
    margin: 22px 0 12px;
    padding: 0 16px;
    justify-content: flex-start;
  }
}
