.wrapper-cards-footer {
  display: flex;
  justify-content: center;
  width: auto;
}

.container-copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #585858;
  height: 65px;
}

.container-logo-m3 {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 32px;
}

@media (max-width: 414px) {
  .anchor-vtex-desktop {
    display: none;
  }
  .wrapper-cards-footer {
    display: none;
  }
  .container-copyright {
    height: 124px;
    display: grid;
  }
  .container-logo-m3 {
    display: block;
  }
}

@media (max-width: 540px) {
  .container-copyright {
    height: 124px;
    display: grid;
  }
  .container-logo-m3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    order: 3;
  }
}
