@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.card-paragraph-container-sobre {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  max-width: 715px;
  width: 100%;
  line-height: 15.23px;
  row-gap: 15px;
}

.card-paragraph-title-sobre {
  color: #292929;
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 412px) {
  .card-paragraph-title-sobre {
    display: flex;
    justify-content: center;
  }
}
