.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
}

.cards-wrapper-mobile {
  display: none;
}
.text-footer-mobile {
  display: none;
}
@media (max-width: 414px) {
  .border {
    display: none;
  }
  .wrapper-cards-footer {
    display: none;
  }
  .wrapper-cards-footer {
    display: flex;
    width: auto;
  }
  .cards-wrapper-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 820px) {
  .cards-wrapper-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .anchor-vtex-desktop {
    display: none;
  }
  .text-footer-mobile{
    display: none;
  }
}
