.wrapper-breadcrumbs {
  display: flex;
  column-gap: 10px;
  margin: 30px 128px 0;
  align-items: center;
}

.breadcrumbs-home {
  width: 16px;
  height: 16px;
}

.breadcrumbs-arrow {
  width: 8px;
  height: 8px;
}

.wrapper-breadcrumbs p {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #c4c4c4;
}

@media (max-width: 768px) {
  .wrapper-breadcrumbs {
    margin: 30px 60px 0;
  }
}

@media (max-width: 414px) {
  .wrapper-breadcrumbs {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 0;
    margin: 17px 37px 0;
  }
}
