.card-select-container {
  display: flex;
}

.wrapper-card {
  display: flex;
  margin: 0 118px;
}

.btn-card-container {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 243px;
  border-right: 1px solid #e5e5e5;
  line-height: 45px;
}

.btn-card-sobre {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-sobre:hover {
  background-color: #ade3f1;
  color: #ffffff;
}

.btn-card-sobre:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-forma-de-pagamento {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-forma-de-pagamento:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-forma-de-pagamento:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-entrega {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-entrega:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-entrega:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-troca-e-devolucao {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-troca-e-devolucao:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-troca-e-devolucao:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-seguranca-e-privacidade {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-seguranca-e-privacidade:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-seguranca-e-privacidade:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-contato {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-contato:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-contato:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.wrapper-card-text {
  margin: 0 32px;
}

@media (max-width: 414px) {
  .wrapper-card {
    display: grid;
    margin: 0;
  }
  .btn-card-container {
    border: none;
    margin: 0 32px 50px;
  }
  .btn-card-sobre {
    padding: 0 16px;
    width: auto;
  }
  .btn-card-forma-de-pagamento {
    padding: 0 16px;
    width: 343px;
    height: 39px;
  }
  .btn-card-entrega {
    padding: 0 16px;
    width: 343px;
    height: 39px;
  }
  .btn-card-troca-e-devolucao {
    padding: 0 16px;
    width: 343px;
    height: 39px;
  }
  .btn-card-seguranca-e-privacidade {
    padding: 0 16px;
    width: 343px;
    height: 39px;
  }
  .btn-card-contato {
    padding: 0 16px;
    width: 343px;
    height: 39px;
  }
}

@media (max-width: 360px) {
  .btn-card-container {
    margin: 0 16px 50px;
  }
}

@media (max-width: 820px) {
  .wrapper-card {
    margin: 0px 20px;
  }
  .wrapper-card-text {
    margin: 0px 15px;
  }

  .btn-card-container {
    margin: 0 26px 50px;
  }
}

@media (max-width: 540px) {
  .btn-card-container {
    margin: 0 0 50px;
    border: none;
  }
}

@media (max-width: 360px) {
  .btn-card-sobre {
    width: 250px;
  }
  .btn-card-forma-de-pagamento {
    width: 250px;
  }
  .btn-card-entrega {
    width: 250px;
  }
  .btn-card-troca-e-devolucao {
    width: 250px;
  }
  .btn-card-seguranca-e-privacidade {
    width: 250px;
  }
  .btn-card-contato {
    width: 250px;
  }
}

@media (max-width: 280px) {
  .wrapper-card {
    margin: 0px 10px;
  }
}
