@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.wrapper-informacoes {
  height: 200px;
  border-top: 1px solid #e7e7e7;
}

.container-informacoes {
  display: flex;
  justify-content: center;
  margin: 25px 0 50px;
}

.wrapper-link-pages {
  display: flex;
  justify-content: center;
  column-gap: 60px;
}

.wrapper-link-pages h1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.wrapper-link-pages h2 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.wrapper-link-pages p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.link-page-institucional {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  height: 123px;
}

.link-page-duvidas {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  height: 123px;
}

.link-page-faleconosco {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  height: 123px;
}

.container-midias {
  margin-left: 133px;
}

.wrapper-midias p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;

  margin-top: 10px;
}

.img-instagram {
  margin: 0 10px;
}

.img-youtube {
  margin: 0 10px;
}

.menu-footer {
  display: none;
}

@media (max-width: 820px) {
  .container-midias {
    margin-left: 50px;
  }

  .container-informacoes {
    margin: 25px 0 50px;
  }
}

@media (max-width: 768px) {
  .container-midias {
    margin-left: 20px;
  }
}

@media (max-width: 540px) {
  .menu-footer {
    font-family: "Roboyo", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #303030;
  }
  .menu-footer {
    display: grid;
    align-items: center;
    margin-left: 27px;
    margin-top: 27px;
  }
}

@media (max-width: 414px) {
  .wrapper-link-pages {
    display: none;
  }
  .container-informacoes {
    display: flex;
    justify-content: flex-start;
    margin-left: 27px;
  }
  .container-midias {
    margin: 0;
  }
  .menu-footer {
    display: grid;
    align-items: center;
    margin-left: 27px;
    margin-top: 27px;
  }
  .menu-footer p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #303030;
    margin-bottom: 24px;
  }

  .menu-wrapper {
    display: flex;
  }
  .menu-wrapper img {
    position: absolute;
    right: 0;
    margin-right: 23px;
  }
}

@media (max-width: 540px) {
  .container-informacoes {
    display: none;
  }

  .menu-footer {
    display: grid;
    align-items: center;
    margin-left: 27px;
    margin-top: 27px;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .menu-wrapper img {
    position: absolute;
    right: 0;
    margin-right: 50px;
  }

  .wrapper-card {
    display: grid;
  }
}
